# DS 542 Winter 2021 Class 1
- integers
- floats
- strings
---

In [ ]:
# first integer
100

In [ ]:
100.0

In [ ]:
# negative integer
-20

In [ ]:
# adding integers
100 + 200.0

In [ ]:
# subtracting integers
100 - 200

In [ ]:
# multiply integers
5 * 7.0

In [ ]:
# division of integers
70 / 10

In [ ]:
# floor division of integers
# floor division cuts the decimal off division
100 // 30

In [ ]:
# modulus of two integers
# gives you only the remainder of division
7 % 3

In [ ]:
5%3

In [ ]:
def is_even(x):
    if x % 2 != 0:
        print(f"{x} is odd!")
    else:
        print(f"{x} is even!")

In [ ]:
is_even(9)

In [ ]:
# integers to a power
5 ** 2

In [ ]:
# integer cubed
5 ** 3

In [ ]:
# square root
81 ** .5

In [ ]:
25 ** .5

In [ ]:
# how to check data type
type(True)

In [ ]:
type(81 ** .5)

In [ ]:
# change data type to int
int(81 ** .5)

In [ ]:
type(int(81 ** .5))

In [ ]:
# order of operations
4 + 3 * 5 - 2

In [ ]:
(4 + 3) * (5 - 2)

In [ ]:
# defining integers as variables
high_score = 100

In [ ]:
low_score = 70

In [ ]:
high_score

In [ ]:
high_score - low_score

In [ ]:
high_score % 9 + low_score ** 2

## Floats
---

In [ ]:
# looking at a float
3.14

In [ ]:
10.0000000001000000

In [ ]:
# rounding a float

# round to 2 decimal places
round(3.1415, 2)

In [ ]:
# rounding to tens, or hundreds place
round(285.77, -1)

In [ ]:
round(276.90, -2)

In [ ]:
# what happens when you add a float and an integer?
5 + 7.5

In [ ]:
# storing floats as variables
float_one = 55.6
float_two = 10.55

In [ ]:
float_one / float_two

In [ ]:
round(float_one / float_two, 2)

In [ ]:
int((float_one / float_two))

In [ ]:
int(5.9)

In [ ]:
type("hello")

## Strings
- Exploring string properties and methods
---

In [ ]:
# single word as a string
"Hello"

In [ ]:
# multiple words as a string
"This is week 1 of DS542."

In [ ]:
# string with single quotes
'goodbye'

In [ ]:
# When to use single quotes vs double quotes?

# if the string is human-readable then use double quotes
# example:
"This is a sentence with 7 words."

In [ ]:
"It's a nice day outside."

In [ ]:
'It's a nice day outside.'

In [ ]:
# use single quotes for strings that are machine-readable
# example
'documents/ds542_assignment_1.py'

In [ ]:
# example of a print statement
print("this is an example print statement.")

In [ ]:
string_variable = "Hello world"

In [ ]:
print(string_variable)

In [ ]:
# printing a string that's multiple lines
# then, use triple quotes

print('''Hello Friend,
Did you get my last letter?
From, Frank''')

In [ ]:
# use \n to print multiple lines
print("Hello Friend\nDid you get my letter?\n-Frank")

In [ ]:
# escape characters in python
# \'
# \"
# \n
# \t
# \\

# example, put a tab into your string with \t
print("start\tend")

In [ ]:
example_string = "Class \"DS 542\" in quotes"
print(example_string)

In [ ]:
# writing raw strings to avoid any special (escape) characters
# put an 'r' in front of your quotes
r'//documents//ds542\filepath.xlsx'

### string indexing

In [1]:
name = "Emily"
sentence = "This is the first DS542 class."

In [2]:
# use index 0 to get first character
# call an index position inside square brackets []
name[0]

'E'

In [3]:
name[4]

'y'

In [4]:
name[-1]

'y'

In [5]:
name[-3]

'i'

In [6]:
sentence = "This is the first DS542 class."

In [9]:
sentence2 = 'abcdefghi'

### string slicing

In [7]:
# when taking a slice of a string, you enter the start, stop, and step
# [start : stop : step]
sentence[3:10]

's is th'

In [8]:
sentence[3:10:1]

's is th'

In [10]:
sentence2[0:5:2]

'ace'

In [ ]:
sentence

In [ ]:
word = "python"

In [ ]:
word[0:5:1]

In [ ]:
word[0:5:2]

In [ ]:
# string slice
# [start : stop : step]
# starting index is inclusive
# ending index is exclusive
"saint_peters_university"[1:4]

In [ ]:
# special cases of string slicing
name

In [11]:
# take the entire string in a slice
name[:]

'Emily'

In [12]:
# take all indexes after a index position
name[1:]

'mily'

In [13]:
# find the length of a string
sentence

'This is the first DS542 class.'

In [14]:
len(sentence)

30

In [15]:
sentence[1:int(len(sentence)/2)]

'his is the fir'

In [16]:
sentence.index('D')

18

In [17]:
sentence.index('i')

2

In [18]:
# reverse of a string
sentence[::-1]

'.ssalc 245SD tsrif eht si sihT'

In [ ]:
# [start : stop : step]

In [20]:
def reverse_word(word: str):
    print(word[::-1])

In [21]:
reverse_word(word = "Data Science")

ecneicS ataD

In [ ]:
sentence

In [22]:
# print every other character
sentence[::2]

'Ti stefrtD52cas'

In [23]:
# print every 4th character
sentence[::4]

'T tft5cs'

In [ ]:
# are strings mutable?
word = "python"

In [ ]:
word[0]

In [24]:
# using "in" and "not in" for strings
sentence

'This is the first DS542 class.'

In [25]:
"DS542" in sentence

True

In [26]:
"3" in sentence

False

In [27]:
"DS542" not in sentence

False

In [28]:
"245SD" in sentence

False

In [29]:
"245SD" in sentence[::-1]

True

## Review of strings from yesterday
- string indexing
- string slicing
---

In [ ]:
# string indexing
name = "Michael"

In [ ]:
# return the first character
name[0]

In [ ]:
# string slicing
# the slice takes 3 parameters: start, stop, step
# [start : stop : step]

name[0:4]

In [ ]:
# if you want to get a slice for all characters after the first
name[1:]

In [ ]:
# what happens if you use a + sign between strings
color = "blue"

name + color

In [ ]:
"Hello" + "Goodbye"

### Built-in String methods

In [30]:
greeting = "good morning!"
farewell = "Goodbye for now"

In [ ]:
# upper() converts a string to all uppercase
greeting.upper()

In [ ]:
# lower() convert a string to all lowercase letters
farewell.lower()

In [ ]:
"GOODBYE".lower()

In [ ]:
# capitalize() which converts the first letter of a string to uppercase
greeting.capitalize()

In [ ]:
# title() will capitalize the first letter of each word in a string
"automate the boring stuff with python".title()

In [ ]:
greeting.upper()

In [ ]:
greeting

In [ ]:
# if you want to change the value of a string with a method
greeting = greeting.upper()

In [ ]:
greeting

In [ ]:
# how to check the length of a string?
# use len() function
textbook = "automate the boring stuff with python".title()

In [ ]:
len(textbook)

In [ ]:
len("This is a sentence. This is a second sentence.")

In [ ]:
# isalpha()
# this method checks if all the characters in a string are alaphabet characters
class_name = "DS-542"
school_name = "Saint Peter's University"
language = "python"

In [ ]:
class_name.isalpha()

In [ ]:
school_name.isalpha()

In [ ]:
"Saint Peters University".isalpha()

In [ ]:
language.isalpha()

In [ ]:
# islower() checks if all the characters in a string are lowercase
"Good Morning".islower()

In [ ]:
"good morning".islower()

In [ ]:
# isupper() checks if all the characters in a string are uppercase
"Goodbye".isupper()

In [ ]:
"GOODBYE".isupper()

In [ ]:
"DS542".isupper()

In [ ]:
special_character = ["!", "@", "#", "%"]

string_variable = "!@####%"

is_true = True

for char in string_variable:
    if char not in special_character:
        is_true = False
        
print(f"{string_variable} only special chars: {is_true}")

In [ ]:
for i in [1,2,3]:
    for j in 'abc':
        print(i,j)

In [ ]:
for i in [1,2,3]*3:
    print(i,'abc')

In [ ]:
# last isupper() example
"Goodbye".isupper()

In [ ]:
"Goodbye".upper().isupper()

In [ ]:
"TWO WORDS".isupper()

In [ ]:
# how to split a string
greeting = "Good Morning Class."

# split this string at each space
greeting.split()

In [ ]:
"123-456-7890".split('-')

In [ ]:
# how to replace a character in a string
# use .replace()
farewell = "Goodbye!"

In [ ]:
farewell.replace('!', '?')

In [ ]:
farewell.replace('bye', '')

In [ ]:
# using f-strings in python
name = "John"

In [ ]:
f"Hello {name} welcome to DS-542"

In [ ]:
f"The length of the name {name} is: {len(name)}"

In [ ]:
# operators on strings
# + is for concatenate
name + "hello"

In [ ]:
# use * for strings
name * 3

In [ ]:
"hello" + 4

In [ ]:
"ds542" * 2

In [ ]:
# force data type to be string
"hello" + str(4)

In [ ]:
# startswith() method
# does a string start with a specific character
"hello".startswith('g')

In [ ]:
"hello".startswith('h')

In [ ]:
# endswith() works the same way as startswith()
"hello".endswith('o')

In [ ]:
"hello".endswith('lo')

In [ ]:
"hello".endswith('hello')

### Equivalence in python

In [31]:
# check if two values are equal
100 == 100

True

In [ ]:
# checking if two values are equal with different data types
100 == "100"

In [32]:
str(100) == "100"

True

In [34]:
# checking if two values are not equal
hello = "hello"
goodbye = "bye"

hello != goodbye

True

In [35]:
# greater than and less than
high_score = 100
low_score = 35

high_score > low_score

True

In [36]:
high_score >= low_score

True

In [37]:
high_score/2 <= low_score + 10

False

In [38]:
100 < 100

False

In [39]:
# using AND and OR with equivalence
(100 >= 90) and (low_score > high_score)

False

In [40]:
(100 >= 90) or (low_score > high_score)

True

In [41]:
True or False

True

In [42]:
True and False

False

In [ ]:
# changing data types
# str() change data type to string
# int() change data type to integer
# float() change data type to float

str(1000)

In [ ]:
# using input() function
name = input()

In [ ]:
name

In [ ]:
print("enter a integer")
number = int(input())

In [ ]:
number

In [ ]:
type(number)

In [ ]:
# entering text inside of input
color = input("What is your favorite color?")

In [ ]:
name = "Michael"

sport = input(f"Hi {name}, what is your favorite sport?")

In [ ]:
# example of using input() in a function

import time

def input_name_length():
    # first, ask user to input their name
    name = input("Hi, what is your name?")
    
    # pause the program for 4 seconds
    time.sleep(4)
    
    # lets check if the length of your name is even or odd
    if len(name) % 2 == 0:
        print(f"your name {name} has {len(name)} characters and is even.")
        
    else:
        print(f"your name {name} has an odd amount of characters: {len(name)}")

In [ ]:
input_name_length()

In [ ]:
# variable naming best practices

# can't use spaces
# can't start a variable with a number or special character

# best practice is to use underscores
hello_greeting = "Hello class"

# camel case example
helloGreeting = "hello class"

# Lists
---

In [43]:
# lets make our first list
foods = ["eggs", "waffle", "apple", "blueberry"]

In [44]:
type(foods)

list

In [45]:
# check the length of a list with len()
len(foods)

4

In [46]:
# list indexing
foods[0]

'eggs'

In [47]:
foods[-1]

'blueberry'

In [48]:
[10, 20, 30, 40][2]

30

In [49]:
var_data_type_list = [10, 3.14, "string", [7, 6, 5, 4, 3]]

In [50]:
var_data_type_list[3][0]

7

In [51]:
var_data_type_list[-1][0]

7

In [52]:
len(var_data_type_list[3])

5

In [ ]:
# list slicing
var_data_type_list

In [53]:
# slice a list [start : stop : step]
var_data_type_list[0:3]

[10, 3.14, 'string']

In [55]:
tens = [10, 20, 30, 40, 50, 60, 70]

In [56]:
tens[::-1]

[70, 60, 50, 40, 30, 20, 10]

In [57]:
tens[::2]

[10, 30, 50, 70]

In [58]:
# change a value in a list
fruit = ["apples", "bananas", "pears", "strawberries"]

In [59]:
fruit[3] = "blackberries"

In [60]:
fruit

['apples', 'bananas', 'pears', 'blackberries']

In [61]:
fruit[0] = "oranges"

In [62]:
fruit

['oranges', 'bananas', 'pears', 'blackberries']

In [ ]:
fruit[1] = fruit[0]

In [ ]:
fruit

In [63]:
# list concatenation
# lists can be concatenated with a + sign
[1, 2, 3] + ["books", "newspapers", "magazines"]

[1, 2, 3, 'books', 'newspapers', 'magazines']

In [64]:
# replicate a list with * sign
[4, 5, 6] * 3

[4, 5, 6, 4, 5, 6, 4, 5, 6]

In [67]:
[3*i for i in [4,5,6]]

[12, 15, 18]

In [ ]:
tens

In [68]:
# how to remove an element from a list?
# you have two options: remove by index position, or by name

# if you want remove by index position use "del"

# lets remove the first element of tens
del tens[0]

In [69]:
tens

[20, 30, 40, 50, 60, 70]

In [ ]:
tens[0]

In [ ]:
# how to remove an element by name
dogs = ["poodle", "retriever", "bulldog"]

# use .remove() to remove an element by name
dogs.remove("bulldog")

In [ ]:
dogs

In [ ]:
# add elements to a list with .append()
dogs.append("pitbull")
dogs.append("husky")
dogs.append("german shepard")

In [ ]:
dogs

In [ ]:
# check if an element exists in a list
"german shepard" in dogs

In [ ]:
# check if element not in a list
"golden doodle" not in dogs

In [ ]:
# look at python standard library: random

import random

random.randint(1, 10)

In [ ]:
def guess_number_in_list():
    
    # get your guess
    your_guess = int(input("Guess a number from 1 to 10"))
    
    # create a list with 3 random numbers
    import random
    random_number_list = []
    
    # add 3 random numbers to the list
    random_number_list.append(random.randint(1,10))
    random_number_list.append(random.randint(1,10))
    random_number_list.append(random.randint(1,10))
    
    if your_guess in random_number_list:
        print(f"correct guess {your_guess}!")
        
    else:
        print(f"incorrect, list was {random_number_list}")

In [ ]:
guess_number_in_list()

In [ ]:
v = (1,2,3)

In [ ]:
type(v)

In [ ]:
v[0]=4