<a href="https://colab.research.google.com/github/JoeGanser/teaching/blob/main/saintpeters/ds610/week2/DS_610_Lecture2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pyspark
from pyspark.sql import SparkSession

spark = SparkSession \
    .builder \
    .appName("Python Spark SQL basic example") \
    .config("spark.some.config.option", "some-value") \
    .getOrCreate()

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.1.tar.gz (281.4 MB)
     |████████████████████████████████| 281.4 MB 41 kB/s
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     |████████████████████████████████| 199 kB 42.5 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.1-py2.py3-none-any.whl size=281845512 sha256=3c9255c105eb213a45cd285c9a02adcd5111d2157a53b83fa3938018bcef0aed
  Stored in directory: /root/.cache/pip/wheels/42/59/f5/79a5bf931714dcd201b26025347785f087370a10a3329a899c
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.1

#Load a DataFrame from a CSV file on github

In [ ]:
url = 'https://raw.githubusercontent.com/JoeGanser/Spark-The-Definitive-Guide/master/data/flight-data/csv/'
csv_file = "2015-summary.csv"
url = url+csv_file
from pyspark import SparkFiles
spark.sparkContext.addFile(url)

flightData2015 = spark.read.csv("file://"+SparkFiles.get(csv_file), header=True, inferSchema= True)
flightData2015.show()

+--------------------+-------------------+-----+
|   DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+--------------------+-------------------+-----+
|       United States|            Romania|   15|
|       United States|            Croatia|    1|
|       United States|            Ireland|  344|
|               Egypt|      United States|   15|
|       United States|              India|   62|
|       United States|          Singapore|    1|
|       United States|            Grenada|   62|
|          Costa Rica|      United States|  588|
|             Senegal|      United States|   40|
|             Moldova|      United States|    1|
|       United States|       Sint Maarten|  325|
|       United States|   Marshall Islands|   39|
|              Guyana|      United States|   64|
|               Malta|      United States|    1|
|            Anguilla|      United States|   41|
|             Bolivia|      United States|   30|
|       United States|           Paraguay|    6|
|             Algeria|      United States|    4|
|Turks and Caicos ...|      United States|  230|
|       United States|          Gibraltar|    1|
+--------------------+-------------------+-----+
only showing top 20 rows

In [ ]:
flightData2015.printSchema()

root
 |-- DEST_COUNTRY_NAME: string (nullable = true)
 |-- ORIGIN_COUNTRY_NAME: string (nullable = true)
 |-- count: integer (nullable = true)

In [ ]:
selection = flightData2015.select('DEST_COUNTRY_NAME')
selection.show()

+--------------------+
|   DEST_COUNTRY_NAME|
+--------------------+
|       United States|
|       United States|
|       United States|
|               Egypt|
|       United States|
|       United States|
|       United States|
|          Costa Rica|
|             Senegal|
|             Moldova|
|       United States|
|       United States|
|              Guyana|
|               Malta|
|            Anguilla|
|             Bolivia|
|       United States|
|             Algeria|
|Turks and Caicos ...|
|       United States|
+--------------------+
only showing top 20 rows

In [ ]:
flightData2015.describe().show()

+-------+-----------------+-------------------+------------------+
|summary|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|             count|
+-------+-----------------+-------------------+------------------+
|  count|              256|                256|               256|
|   mean|             null|               null|       1770.765625|
| stddev|             null|               null|23126.516918551915|
|    min|          Algeria|             Angola|                 1|
|    max|           Zambia|            Vietnam|            370002|
+-------+-----------------+-------------------+------------------+

In [ ]:
flightData2015 = flightData2015.withColumn('double the count',flightData2015['count']*2)
flightData2015.show()

+--------------------+-------------------+-----+----------------+
|   DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|double the count|
+--------------------+-------------------+-----+----------------+
|       United States|            Romania|   15|              30|
|       United States|            Croatia|    1|               2|
|       United States|            Ireland|  344|             688|
|               Egypt|      United States|   15|              30|
|       United States|              India|   62|             124|
|       United States|          Singapore|    1|               2|
|       United States|            Grenada|   62|             124|
|          Costa Rica|      United States|  588|            1176|
|             Senegal|      United States|   40|              80|
|             Moldova|      United States|    1|               2|
|       United States|       Sint Maarten|  325|             650|
|       United States|   Marshall Islands|   39|              78|
|              Guyana|      United States|   64|             128|
|               Malta|      United States|    1|               2|
|            Anguilla|      United States|   41|              82|
|             Bolivia|      United States|   30|              60|
|       United States|           Paraguay|    6|              12|
|             Algeria|      United States|    4|               8|
|Turks and Caicos ...|      United States|  230|             460|
|       United States|          Gibraltar|    1|               2|
+--------------------+-------------------+-----+----------------+
only showing top 20 rows

In [ ]:
flightData2015 = flightData2015.drop('double the count')
flightData2015.show()

+--------------------+-------------------+-----+
|   DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+--------------------+-------------------+-----+
|       United States|            Romania|   15|
|       United States|            Croatia|    1|
|       United States|            Ireland|  344|
|               Egypt|      United States|   15|
|       United States|              India|   62|
|       United States|          Singapore|    1|
|       United States|            Grenada|   62|
|          Costa Rica|      United States|  588|
|             Senegal|      United States|   40|
|             Moldova|      United States|    1|
|       United States|       Sint Maarten|  325|
|       United States|   Marshall Islands|   39|
|              Guyana|      United States|   64|
|               Malta|      United States|    1|
|            Anguilla|      United States|   41|
|             Bolivia|      United States|   30|
|       United States|           Paraguay|    6|
|             Algeria|      United States|    4|
|Turks and Caicos ...|      United States|  230|
|       United States|          Gibraltar|    1|
+--------------------+-------------------+-----+
only showing top 20 rows

In [ ]:
flightData2015 = flightData2015.withColumnRenamed('DEST_COUNTRY_NAME','DEST').withColumnRenamed('ORIGIN_COUNTRY_NAME','ORIGIN')
flightData2015.show()

+--------------------+----------------+-----+
|                DEST|          ORIGIN|count|
+--------------------+----------------+-----+
|       United States|         Romania|   15|
|       United States|         Croatia|    1|
|       United States|         Ireland|  344|
|               Egypt|   United States|   15|
|       United States|           India|   62|
|       United States|       Singapore|    1|
|       United States|         Grenada|   62|
|          Costa Rica|   United States|  588|
|             Senegal|   United States|   40|
|             Moldova|   United States|    1|
|       United States|    Sint Maarten|  325|
|       United States|Marshall Islands|   39|
|              Guyana|   United States|   64|
|               Malta|   United States|    1|
|            Anguilla|   United States|   41|
|             Bolivia|   United States|   30|
|       United States|        Paraguay|    6|
|             Algeria|   United States|    4|
|Turks and Caicos ...|   United States|  230|
|       United States|       Gibraltar|    1|
+--------------------+----------------+-----+
only showing top 20 rows

In [ ]:
united_states = flightData2015.filter("DEST = 'United States'")
united_states.show()

+-------------+--------------------+-----+
|         DEST|              ORIGIN|count|
+-------------+--------------------+-----+
|United States|             Romania|   15|
|United States|             Croatia|    1|
|United States|             Ireland|  344|
|United States|               India|   62|
|United States|           Singapore|    1|
|United States|             Grenada|   62|
|United States|        Sint Maarten|  325|
|United States|    Marshall Islands|   39|
|United States|            Paraguay|    6|
|United States|           Gibraltar|    1|
|United States|Federated States ...|   69|
|United States|              Russia|  161|
|United States|         Netherlands|  660|
|United States|             Senegal|   42|
|United States|              Angola|   13|
|United States|            Anguilla|   38|
|United States|             Ecuador|  300|
|United States|              Cyprus|    1|
|United States|            Portugal|  134|
|United States|          Costa Rica|  608|
+-------------+--------------------+-----+
only showing top 20 rows

In [ ]:
#Writing in SQL example
flightData2015.registerTempTable("flightData2015")
spark.sql("select distinct DEST_COUNTRY_NAME from flightData2015 order by DEST_COUNTRY_NAME ASC").show(20)

/usr/local/lib/python3.7/dist-packages/pyspark/sql/dataframe.py:229: FutureWarning: Deprecated in 2.0, use createOrReplaceTempView instead.
  warnings.warn("Deprecated in 2.0, use createOrReplaceTempView instead.", FutureWarning)

+--------------------+
|   DEST_COUNTRY_NAME|
+--------------------+
|             Algeria|
|              Angola|
|            Anguilla|
| Antigua and Barbuda|
|           Argentina|
|               Aruba|
|           Australia|
|             Austria|
|          Azerbaijan|
|             Bahrain|
|            Barbados|
|             Belgium|
|              Belize|
|             Bermuda|
|             Bolivia|
|Bonaire, Sint Eus...|
|              Brazil|
|British Virgin Is...|
|            Bulgaria|
|        Burkina Faso|
+--------------------+
only showing top 20 rows

In [ ]:
from pyspark.sql import SparkSession
from pyspark.sql import SQLContext
spark = SparkSession \
    .builder \
    .appName("Python Spark SQL basic example") \
    .config("spark.some.config.option", "some-value") \
    .getOrCreate()

sqlContext = SQLContext(spark)
df_sqlContext = sqlContext.read.csv("file://"+SparkFiles.get(csv_file), header=True, inferSchema= True)
df_sqlContext.show()

/usr/local/lib/python3.7/dist-packages/pyspark/sql/context.py:114: FutureWarning: Deprecated in 3.0.0. Use SparkSession.builder.getOrCreate() instead.
  FutureWarning,

+--------------------+-------------------+-----+
|   DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+--------------------+-------------------+-----+
|       United States|            Romania|   15|
|       United States|            Croatia|    1|
|       United States|            Ireland|  344|
|               Egypt|      United States|   15|
|       United States|              India|   62|
|       United States|          Singapore|    1|
|       United States|            Grenada|   62|
|          Costa Rica|      United States|  588|
|             Senegal|      United States|   40|
|             Moldova|      United States|    1|
|       United States|       Sint Maarten|  325|
|       United States|   Marshall Islands|   39|
|              Guyana|      United States|   64|
|               Malta|      United States|    1|
|            Anguilla|      United States|   41|
|             Bolivia|      United States|   30|
|       United States|           Paraguay|    6|
|             Algeria|      United States|    4|
|Turks and Caicos ...|      United States|  230|
|       United States|          Gibraltar|    1|
+--------------------+-------------------+-----+
only showing top 20 rows