# HW Solutions: files_errors_dataframes Advanced Programming for AI

### Problem 1

Create and open a text document, use a **for loop** to save the following strings, each on seperate lines (use a line break `\n`);

* `This is advanced coding for AI`
* `If I ace this course, I will be prepared for a data science interview.`
* `I'd better study hard!`

### Solution

In [1]:
strings = ['This is advanced coding for AI',
           'If I ace this course, I will be prepared for a data science interview.',
           "I'd better study hard!"]

with open('question1.txt',mode='w') as text_document:
    for s in strings:
        text_document.write(s+'\n')

### Problem 2

Save the following python dictionary using both JSON and a pickle file. Do it WITHOUT using the `with` statement.


`d={'class':'BDS4440','credits':3,'term':'Spring','length':15,'lectures':30}`

* the mode for json will be `mode='w'` for write
* the mode for pickle will be `mode='wb'` for write binary

### Solution

In [6]:
import json
d={'class':'BDS4440','credits':3,'term':'Spring','length':15,'lectures':30}
dictionary_json = open('question2.json',mode='w')
json.dump(d,dictionary_json)
dictionary_json.close()

In [7]:
import pickle
d={'class':'BDS4440','credits':3,'term':'Spring','length':15,'lectures':30}
dictionary_pickle = open('question2.pickle',mode='wb')
pickle.dump(d,dictionary_pickle)
dictionary_pickle.close()

### Problem 3

Using the `with` statement, print and load the name of the class from both the pickle file and the json file in problem 2. Verify the the values are equal to each other using a boolean relation.

* Make sure that the mode is `'r'` for json and `'rb'` for pickle when opening.

### Solution

In [9]:
import json

with open('question2.json',mode='r') as djson:
    d3_json = json.load(djson)
    
import pickle
with open('question2.pickle',mode='rb') as dpickle:
    d3_pickle = pickle.load(dpickle)
    
print(d3_json['class'])
d3_json['class']==d3_pickle['class']

BDS4440

True

### Problem 4

Using `try` and `except` clauses inconjunction to `with` statements, attempt to load the `question2.json` file using pickle. In the case of an `UnpicklingError`, use the appropriate way of loading the `json` file with the `except` clause. After loading, print and load the value of the `credits` key from the dictionary in the json file.

* Hint: When writing the `except` clause the type of error we will be excepting will be `pickle.UnpicklingError`.

**Hint your code will look like this**

`
document = 'question2.json'
try:
    open using pickle...
except (specific type of error)
    open using json...`
    
### Solution

In [14]:
document = 'question2.json'
try:
    with open(document,mode='rb') as file:
        f = pickle.load(file)
except pickle.UnpicklingError:
    with open(document,mode='r') as file:
        f = json.load(file)
print(f['credits'])

3

# Problem 5

Using the following data set, and using group by order relations, see if the average age and average fare was different amongst those who survived the titanic sinking versus those who sank. By examining the average fare alone, can we suggest those who paid higher prices for titanic tickets were more likely to survive?

In [20]:
link = 'https://raw.githubusercontent.com/JoeGanser/datasets/master/titanic.csv'
import pandas as pd
data = pd.read_csv(link)

### Solution

In [19]:
data.groupby(['Survived','Sex'])['Age','Fare'].mean()

/var/folders/jl/97zzvf352gg0qn93kb33f4th0000gn/T/ipykernel_4967/1840102633.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  data.groupby(['Survived','Sex'])['Age','Fare'].mean()

                       Age       Fare
Survived Sex
0        female  25.046875  23.024385
         male    31.618056  21.960993
1        female  28.847716  51.938573
         male    27.276022  40.821484

# the average fare of those who survived was nearly twice that as those who perished in the titanic.