# DS 542 Winter 2021 Class 1
- integers
- floats
- strings
---

In [1]:
# first integer
100

100

In [2]:
# negative integer
-20

-20

In [3]:
# adding integers
100 + 200

300

In [4]:
# subtracting integers
100 - 200

-100

In [5]:
# multiply integers
5 * 7

35

In [6]:
# division of integers
70 / 10

7.0

In [7]:
# floor division of integers
# floor division cuts the decimal off division
100 // 30

3

In [8]:
# modulus of two integers
# gives you only the remainder of division
7 % 3

1

In [9]:
def is_even(x):
    if x % 2 == 0:
        print(f"{x} is even!")
    else:
        print(f"{x} is odd!")

In [10]:
"hello"

'hello'

In [11]:
is_even(9)

9 is odd!

In [12]:
# integers to a power
5 ** 2

25

In [13]:
# integer cubed
5 ** 3

125

In [17]:
# square root
81 ** .5

9.0

In [18]:
25 ** .5

5.0

In [19]:
# how to check data type
type(10)

int

In [20]:
type(81 ** .5)

float

In [21]:
# change data type to int
int(81 ** .5)

9

In [22]:
type(int(81 ** .5))

int

In [14]:
# order of operations
4 + 3 * 5 - 2

17

In [15]:
(4 + 3) * (5 - 2)

21

In [16]:
# defining integers as variables
high_score = 100

In [17]:
low_score = 70

In [18]:
high_score

100

In [19]:
high_score - low_score

30

In [29]:
high_score % 9 + low_score ** 2

4901

## Floats
---

In [30]:
# looking at a float
3.14

3.14

In [31]:
10.00

10.0

In [32]:
# rounding a float

# round to 2 decimal places
round(3.1415, 2)

3.14

In [35]:
# rounding to tens, or hundreds place
round(285.77, -1)

290.0

In [36]:
round(276.90, -2)

300.0

In [37]:
# what happens when you add a float and an integer?
5 + 7.5

12.5

In [38]:
# storing floats as variables
float_one = 55.6
float_two = 10.55

In [39]:
float_one / float_two

5.270142180094786

In [40]:
round(float_one / float_two, 2)

5.27

In [41]:
int((float_one / float_two))

5

In [42]:
int(5.9)

5

In [43]:
type("hello")

str

## Strings
- Exploring string properties and methods
---

In [44]:
# single word as a string
"Hello"

'Hello'

In [45]:
# multiple words as a string
"This is week 1 of DS542."

'This is week 1 of DS542.'

In [46]:
# string with single quotes
'goodbye'

'goodbye'

In [47]:
# When to use single quotes vs double quotes?

# if the string is human-readable then use double quotes
# example:
"This is a sentence with 7 words."

'This is a sentence with 7 words.'

In [48]:
"It's a nice day outside."

"It's a nice day outside."

In [49]:
'It's a nice day outside.'

SyntaxError: invalid syntax (<ipython-input-49-2979d397d8cc>, line 1)

In [50]:
# use single quotes for strings that are machine-readable
# example
'documents/ds542_assignment_1.py'

'documents/ds542_assignment_1.py'

In [51]:
# example of a print statement
print("this is an example print statement.")

this is an example print statement.

In [52]:
string_variable = "Hello world"

In [53]:
print(string_variable)

Hello world

In [54]:
# printing a string that's multiple lines
# then, use triple quotes

print('''Hello Friend,
Did you get my last letter?
From, Frank''')

Hello Friend,
Did you get my last letter?
From, Frank

In [57]:
# use \n to print multiple lines
print("Hello Friend\nDid you get my letter?\n-Frank")

Hello Friend
Did you get my letter?
-Frank

In [58]:
# escape characters in python
# \'
# \"
# \n
# \t
# \\

# example, put a tab into your string with \t
print("start\tend")

start	end

In [59]:
example_string = "Class \"DS 542\" in quotes"
print(example_string)

Class "DS 542" in quotes

In [60]:
# writing raw strings to avoid any special (escape) characters
# put an 'r' in front of your quotes
r'//documents//ds542\filepath.xlsx'

'//documents//ds542\\filepath.xlsx'

### string indexing

In [61]:
name = "Emily"
sentence = "This is the first DS542 class."

In [62]:
# use index 0 to get first character
# call an index position inside square brackets []
name[0]

'E'

In [63]:
name[4]

'y'

In [65]:
name[-1]

'y'

In [66]:
name[-3]

'i'

### string slicing

In [67]:
# when taking a slice of a string, you enter the start, stop, and step
# [start : stop : step]
sentence[3:10]

's is th'

In [68]:
sentence[3:10:2]

'si h'

In [69]:
sentence

'This is the first DS542 class.'

In [70]:
word = "python"

In [73]:
word[0:5:1]

'pytho'

In [74]:
word[0:5:2]

'pto'

In [75]:
# string slice
# [start : stop : step]
# starting index is inclusive
# ending index is exclusive
"saint_peters_university"[1:4]

'ain'

In [76]:
# special cases of string slicing
name

'Emily'

In [77]:
# take the entire string in a slice
name[:]

'Emily'

In [78]:
# take all indexes after a index position
name[1:]

'mily'

In [79]:
# find the length of a string
sentence

'This is the first DS542 class.'

In [80]:
len(sentence)

30

In [85]:
sentence[1:int(len(sentence)/2)]

'his is the fir'

In [89]:
sentence.index('D')

18

In [90]:
# reverse of a string
sentence[::-1]

'.ssalc 245SD tsrif eht si sihT'

In [ ]:
# [start : stop : step]

In [91]:
def reverse_word(word: str):
    print(word[::-1])

In [92]:
reverse_word(word = "Data Science")

ecneicS ataD

In [93]:
sentence

'This is the first DS542 class.'

In [94]:
# print every other character
sentence[::2]

'Ti stefrtD52cas'

In [96]:
# print every 4th character
sentence[::4]

'T tft5cs'

In [98]:
# are strings mutable?
word = "python"

In [99]:
word[0]

'p'

In [102]:
# using "in" and "not in" for strings
sentence

'This is the first DS542 class.'

In [103]:
"DS542" in sentence

True

In [104]:
"3" in sentence

False

In [105]:
"DS542" not in sentence

False

In [106]:
"245SD" in sentence

False

In [107]:
"245SD" in sentence[::-1]

True

## Review of strings from yesterday
- string indexing
- string slicing
---

In [110]:
# string indexing
name = "Michael"

In [111]:
# return the first character
name[0]

'M'

In [112]:
# string slicing
# the slice takes 3 parameters: start, stop, step
# [start : stop : step]

name[0:4]

'Mich'

In [113]:
# if you want to get a slice for all characters after the first
name[1:]

'ichael'

In [114]:
# what happens if you use a + sign between strings
color = "blue"

name + color

'Michaelblue'

In [115]:
"Hello" + "Goodbye"

'HelloGoodbye'

### Built-in String methods

In [116]:
greeting = "good morning!"
farewell = "Goodbye for now"

In [117]:
# upper() converts a string to all uppercase
greeting.upper()

'GOOD MORNING!'

In [118]:
# lower() convert a string to all lowercase letters
farewell.lower()

'goodbye for now'

In [119]:
"GOODBYE".lower()

'goodbye'

In [121]:
# capitalize() which converts the first letter of a string to uppercase
greeting.capitalize()

'Good morning!'

In [122]:
# title() will capitalize the first letter of each word in a string
"automate the boring stuff with python".title()

'Automate The Boring Stuff With Python'

In [123]:
greeting.upper()

'GOOD MORNING!'

In [124]:
greeting

'good morning!'

In [125]:
# if you want to change the value of a string with a method
greeting = greeting.upper()

In [126]:
greeting

'GOOD MORNING!'

In [127]:
# how to check the length of a string?
# use len() function
textbook = "automate the boring stuff with python".title()

In [128]:
len(textbook)

37

In [129]:
len("This is a sentence. This is a second sentence.")

46

In [130]:
# isalpha()
# this method checks if all the characters in a string are alaphabet characters
class_name = "DS-542"
school_name = "Saint Peter's University"
language = "python"

In [131]:
class_name.isalpha()

False

In [132]:
school_name.isalpha()

False

In [133]:
"Saint Peters University".isalpha()

False

In [134]:
language.isalpha()

True

In [135]:
# islower() checks if all the characters in a string are lowercase
"Good Morning".islower()

False

In [136]:
"good morning".islower()

True

In [137]:
# isupper() checks if all the characters in a string are uppercase
"Goodbye".isupper()

False

In [138]:
"GOODBYE".isupper()

True

In [139]:
"DS542".isupper()

True

In [140]:
special_character = ["!", "@", "#", "%"]

string_variable = "!@####%"

is_true = True

for char in string_variable:
    if char not in special_character:
        is_true = False
        
print(f"{string_variable} only special chars: {is_true}")

!@####% only special chars: True

In [141]:
# last isupper() example
"Goodbye".isupper()

False

In [142]:
"Goodbye".upper().isupper()

True

In [143]:
"TWO WORDS".isupper()

True

In [144]:
# how to split a string
greeting = "Good Morning Class."

# split this string at each space
greeting.split()

['Good', 'Morning', 'Class.']

In [147]:
"123-456-7890".split('-')

['123', '456', '7890']

In [148]:
# how to replace a character in a string
# use .replace()
farewell = "Goodbye!"

In [149]:
farewell.replace('!', '?')

'Goodbye?'

In [150]:
farewell.replace('bye', '')

'Good!'

In [153]:
# using f-strings in python
name = "John"

In [154]:
f"Hello {name} welcome to DS-542"

'Hello John welcome to DS-542'

In [156]:
f"The length of the name {name} is: {len(name)}"

'The length of the name John is: 4'

In [157]:
# operators on strings
# + is for concatenate
name + "hello"

'Johnhello'

In [158]:
# use * for strings
name * 3

'JohnJohnJohn'

In [162]:
"hello" + 4

TypeError: can only concatenate str (not "int") to str

In [163]:
"ds542" * 2

'ds542ds542'

In [165]:
# force data type to be string
"hello" + str(4)

'hello4'

In [166]:
# startswith() method
# does a string start with a specific character
"hello".startswith('g')

False

In [167]:
"hello".startswith('h')

True

In [168]:
# endswith() works the same way as startswith()
"hello".endswith('o')

True

In [170]:
"hello".endswith('lo')

True

In [171]:
"hello".endswith('hello')

True

### Equivalence in python

In [172]:
# check if two values are equal
100 == 100

True

In [173]:
# checking if two values are equal with different data types
100 == "100"

False

In [174]:
str(100) == "100"

True

In [175]:
# checking if two values are not equal
hello = "hello"
goodbye = "bye"

hello != goodbye

True

In [176]:
# greater than and less than
high_score = 100
low_score = 35

high_score > low_score

True

In [177]:
high_score >= low_score

True

In [178]:
high_score/2 <= low_score + 10

False

In [179]:
100 < 100

False

In [180]:
# using AND and OR with equivalence
(100 >= 90) and (low_score > high_score)

False

In [181]:
(100 >= 90) or (low_score > high_score)

True

In [182]:
# changing data types
# str() change data type to string
# int() change data type to integer
# float() change data type to float

str(1000)

'1000'

In [183]:
# using input() function
name = input()

Michael

In [184]:
name

'Michael'

In [185]:
print("enter a integer")
number = int(input())

enter a integer
70

In [186]:
number

70

In [187]:
type(number)

int

In [190]:
# entering text inside of input
color = input("What is your favorite color?")

What is your favorite color?blue

In [191]:
name = "Michael"

sport = input(f"Hi {name}, what is your favorite sport?")

Hi Michael, what is your favorite sport?basketball

In [192]:
# example of using input() in a function

import time

def input_name_length():
    # first, ask user to input their name
    name = input("Hi, what is your name?")
    
    # pause the program for 4 seconds
    time.sleep(4)
    
    # lets check if the length of your name is even or odd
    if len(name) % 2 == 0:
        print(f"your name {name} has {len(name)} characters and is even.")
        
    else:
        print(f"your name {name} has an odd amount of characters: {len(name)}")

In [193]:
input_name_length()

Hi, what is your name?Michael
your name Michael has an odd amount of characters: 7

In [194]:
# variable naming best practices

# can't use spaces
# can't start a variable with a number or special character

# best practice is to use underscores
hello_greeting = "Hello class"

# camel case example
helloGreeting = "hello class"

# Lists
---

In [195]:
# lets make our first list
foods = ["eggs", "waffle", "apple", "blueberry"]

In [196]:
type(foods)

list

In [197]:
# check the length of a list with len()
len(foods)

4

In [198]:
# list indexing
foods[0]

'eggs'

In [199]:
foods[-1]

'blueberry'

In [200]:
[10, 20, 30, 40][2]

30

In [201]:
var_data_type_list = [10, 3.14, "string", [7, 6, 5, 4, 3]]

In [202]:
var_data_type_list[3][0]

7

In [203]:
var_data_type_list[-1][0]

7

In [204]:
len(var_data_type_list[3])

5

In [205]:
# list slicing
var_data_type_list

[10, 3.14, 'string', [7, 6, 5, 4, 3]]

In [206]:
# slice a list [start : stop : step]
var_data_type_list[0:3]

[10, 3.14, 'string']

In [207]:
tens = [10, 20, 30, 40, 50, 60, 70]

In [208]:
tens[::-1]

[70, 60, 50, 40, 30, 20, 10]

In [209]:
tens[::2]

[10, 30, 50, 70]

In [210]:
# change a value in a list
fruit = ["apples", "bananas", "pears", "strawberries"]

In [211]:
fruit[3] = "blackberries"

In [212]:
fruit

['apples', 'bananas', 'pears', 'blackberries']

In [213]:
fruit[0] = "oranges"

In [214]:
fruit

['oranges', 'bananas', 'pears', 'blackberries']

In [215]:
fruit[1] = fruit[0]

In [216]:
fruit

['oranges', 'oranges', 'pears', 'blackberries']

In [217]:
# list concatenation
# lists can be concatenated with a + sign
[1, 2, 3] + ["books", "newspapers", "magazines"]

[1, 2, 3, 'books', 'newspapers', 'magazines']

In [218]:
# replicate a list with * sign
[4, 5, 6] * 3

[4, 5, 6, 4, 5, 6, 4, 5, 6]

In [219]:
tens

[10, 20, 30, 40, 50, 60, 70]

In [221]:
# how to remove an element from a list?
# you have two options: remove by index position, or by name

# if you want remove by index position use "del"

# lets remove the first element of tens
del tens[0]

In [222]:
tens

[20, 30, 40, 50, 60, 70]

In [223]:
tens[0]

20

In [224]:
# how to remove an element by name
dogs = ["poodle", "retriever", "bulldog"]

# use .remove() to remove an element by name
dogs.remove("bulldog")

In [225]:
dogs

['poodle', 'retriever']

In [226]:
# add elements to a list with .append()
dogs.append("pitbull")
dogs.append("husky")
dogs.append("german shepard")

In [227]:
dogs

['poodle', 'retriever', 'pitbull', 'husky', 'german shepard']

In [228]:
# check if an element exists in a list
"german shepard" in dogs

True

In [231]:
# check if element not in a list
"golden doodle" not in dogs

True

In [234]:
# look at python standard library: random

import random

random.randint(1, 10)

9

In [235]:
def guess_number_in_list():
    
    # get your guess
    your_guess = int(input("Guess a number from 1 to 10"))
    
    # create a list with 3 random numbers
    import random
    random_number_list = []
    
    # add 3 random numbers to the list
    random_number_list.append(random.randint(1,10))
    random_number_list.append(random.randint(1,10))
    random_number_list.append(random.randint(1,10))
    
    if your_guess in random_number_list:
        print(f"correct guess {your_guess}!")
        
    else:
        print(f"incorrect, list was {random_number_list}")

In [236]:
guess_number_in_list()

Guess a number from 1 to 103
incorrect, list was [5, 2, 4]